# Секретные файлы с токенами
.env
env.py
config.py

# Системные папки Python и виртуальное окружение
__pycache__/
.venv/
venv/
*.pyc

# База данных SQLite (чтобы локальная база не перезаписывала серверную)
*.db